.done-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.btn-category {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #797d86;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
}

.icone {
  width: 68px;
}

.container-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 10px;
}

.doneRecipe-box {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.card-recipe-done {
  align-items: center;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 150px;
  margin-bottom: 15px;
  margin-right: 10px;
  width: 320px;
}

.image-container-done {
  background: transparent;
  border: none;
  border-radius: 5px 0 0 5px;
  display: flex;
  height: 100%;
  width: 50%;
}

.image-recipe-done {
  border-radius: 5px 0 0 5px;
  height: 100%;
  min-width: 100%;
}

.left-done {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin-left: 5px;
  width: 70%;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.tag {
  background-color: #d9d9d9;
  border-radius: 15px;
  color: #797d86;
  font-size: 0.75rem;
  margin-right: 3px;
  padding: 5px 10px;
}

.top-text-done {
  color: #1a1b1c;
  font-size: 0.85rem;
  font-weight: 700;
}

.title-share {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-share-done {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  padding-left: 0;
  width: 15%;
}

.link-copied {
  align-items: center;
  background: #fcdc36;
  border-radius: 50%;
  display: flex;
  font-size: 0.65rem;
  height: 50px;
  justify-content: center;
  margin-bottom: 5%;
  margin-left: 2px;
  padding: 15px;
  position: absolute;
  text-align: center;
  width: 50px;
}

/* Diferentes tamanhos de tela */

@media only screen and ( max-width : 455px ) {

  .doneRecipe-box {
    min-height: 50%;
    overflow-y: auto;
  }

  .card-recipe-done {
    height: 160px;
    width: 100%;
  }
}
