.meals-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  max-height: 640px;
  min-height: 640px;
  width: 100%;
}

.filter-meals {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 95%;
}

.btn-category {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #797d86;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.icons-category {
  margin-left: 30px;
  width: 46px;
}

.recipes-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  max-height: 50%;
  overflow-y: auto;
}

.each-filter-category {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 15%;
}

/* Diferentes tamanhos de tela */

@media only screen and ( max-width : 360px ) {

  .icons-category {
    width: 30px;
  }

  .each-recipe {
    height: auto;
  }
}
