.header-container {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-between;
  right: 0;
  top: 0;
  width: 100%;
}

.meals.search-opened {
  height: auto;
}

.logo-header {
  margin-left: 26px;
}

.icons-header {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.btn-profile, .btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  margin-right: 15px;
  width: 30px;
}

.pages-identification {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;
}

.page-title {
  color: #41197f;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 13px;
  text-transform: uppercase;
}
